name: Validate Generated OpenAPI Spec File

on:
  pull_request:

  merge_group:
    types:
      - checks_requested

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  validate_json:
    name: Validate generated OpenAPI spec file
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable 2 weeks ago

      - name: Generate the OpenAPI spec file for V1
        shell: bash
        run: cargo run -p openapi --features v1

      - name: Generate the OpenAPI spec file for V2
        shell: bash
        run: cargo run -p openapi --features v2

      - name: Install `swagger-cli`
        shell: bash
        run: npm install -g @apidevtools/swagger-cli

      - name: Validate the JSON file
        shell: bash
        run: swagger-cli validate ./api-reference/v1/openapi_spec_v1.json

      - name: Validate the JSON file for V2
        shell: bash
        run: swagger-cli validate ./api-reference/v2/openapi_spec_v2.json

      - name: Check if JSON file is up-to-date
        shell: bash
        run: |
          if ! git diff --quiet --exit-code -- api-reference/v1/openapi_spec_v1.json api-reference/v2/openapi_spec_v2.json ; then
            echo '::error::The OpenAPI spec file is not up-to-date. Please re-generate the OpenAPI spec file using `cargo run -p openapi --features v1 && cargo run -p openapi --features v2` and commit it.'
            exit 1
          fi
